# Compiled class file
proxy/*.class

# Log file
proxy/*.log

# BlueJ files
proxy/*.ctxt

# Mobile Tools for Java (J2ME)
proxy/.mtj.tmp/

# Package Files #
proxy/*.jar
proxy/*.war
proxy/*.nar
proxy/*.ear
proxy/*.zip
proxy/*.tar.gz
proxy/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
proxy/hs_err_pid*
proxy/replay_pid*

# Svelte Project Files
frontend/test-results
frontend/node_modules

# Output
frontend/.output
frontend/.vercel
frontend/.svelte-kit
frontend/build

# OS
frontend/.DS_Store
frontend/Thumbs.db

# Env
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/!.env.test

# Vite
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
